/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html {
    font-size: 100%;
}

body {
    overflow-x: hidden;
}

.resize-animation-stopper * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

@font-face {
    font-family: "futura book";
    src: url(fonts/Futura\ Std\ Book.ttf);
}

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

/*--------------------------------------topSect section-----------------------------------*/

.top-sect {
    /*background-color: mediumaquamarine;*/
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    font-size: 100%;
    height: 12vh;
    position: relative;
}


/*--------------------------------------pgTitle section-----------------------------------*/

.pg-title {
    /*background-color: red;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: 100%;
}

#txt-slct {
    /*background-color: yellow;*/
    font-family: 'futura book';
    font-weight: 800;
    font-size: 1.2rem;
    margin-left: 5%;
    text-align: start;
}

#main-nav {
    display: none;
}

/*--------------------------------Ham Nav section----------------------*/
#ham-menu-wrapper {
    cursor: pointer;
    height: 60%;
    width: 80px;
    /*background-color: violet;*/
    justify-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.ham-menu {
    height: 7px;
    width: 80%;
    background-color: black;
    display: block;
}

/*--------slide in nav--------*/
#slide-in-nav {
    position: absolute;
    height: 100vh;
    width: 80vw;
    background-color: grey;
    margin-top: -3%;
    z-index: 300;
    display: none;

}

.nav-static {
    margin-left:100%;
}

.nav-slide-in {
    -webkit-animation: slide-in-nav 500ms ease-in 0s 1 forwards;
            animation: slide-in-nav 500ms ease-in 0s 1 forwards;
}

.nav-slide-out {
    -webkit-animation: slide-out-nav 500ms ease-out 0s 1 forwards;
            animation: slide-out-nav 500ms ease-out 0s 1 forwards;
}


.x-wrapper {
    background-color: ivory;
    height: 80px;
    width: 70px;
    position: absolute;
    top: 30px;
}

.nav-close-btn {
    height: 10px;
    width: 70px;
    background-color: black;
    position: absolute;
    top: 70px;
    margin-left: 10px;
    cursor: pointer;
    z-index: 350;
}

.nav-close-btn-bck {
    height: 61px;
    width: 60px;
    background-color: transparent;
    position: absolute;
    top: 44px;
    margin-left: 15px;
    cursor: pointer;
    z-index: 150;
}

.x1 {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.x2 {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}

/*--------------------------------------nav section-----------------------------------
    

@media (min-width: 1200px) {
    nav {
        display: flex;
        background-color: yellow;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1vw;
    }

    nav>ul {
        width: 80%;
        /*background-color: pink;
        display: flex;
        position: relative;
        top: 5px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    nav>ul>li {
        list-style: none;
    }

    nav>ul>li>a {
        color: black;
        font-weight: 700;
        font-size: 1.3rem;
        text-decoration: none;
        font-family: 'futura book';

    }

    nav>ul>li>a:visited {
        color: black;

    }

    .nav-dec {
        color: transparent !important;
        border-bottom: 2px solid black;
        border-spacing: 4px;
    }
}

@media (min-width: 992px) {}

/*------------------------------------------------------------------------------------------*/
.const-1 {
    margin: 20px 10px;
}

.fix-frame {
    height: 79vh;
    overflow: auto;
}

/*------------------------------------------------------------------------------------------*/

@-webkit-keyframes fadeInBlack {
    0% {
        opacity: 0.5;
        -webkit-filter: saturate(0);
                filter: saturate(0)
    }

    30% {
        opacity: 1;
    }

    50% {
        -webkit-filter: saturate(0);
                filter: saturate(0);
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInBlack {
    0% {
        opacity: 0.5;
        -webkit-filter: saturate(0);
                filter: saturate(0)
    }

    30% {
        opacity: 1;
    }

    50% {
        -webkit-filter: saturate(0);
                filter: saturate(0);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}


@-webkit-keyframes slide-in-nav {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 20%;
    }

}


@keyframes slide-in-nav {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 20%;
    }

}

@-webkit-keyframes slide-out-nav {
    0% {
        margin-left: 20%;
    }

    100% {
        margin-left: 100%;
    }
}

@keyframes slide-out-nav {
    0% {
        margin-left: 20%;
    }

    100% {
        margin-left: 100%;
    }
}

/*--------------------------------------index section-----------------------------------*/

.img-box {
    padding: 0;
    background-color: turquoise;
    display: block;
    height: 80vh;
    position: relative;
}


.img-box>img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
    display: block;
    -webkit-filter: contrast(120%);
            filter: contrast(120%);
}

#index-img2 {
    display: none;
}


/*--------------------------------------gallery section-----------------------------------*/


@media (min-width:1200px) {
    .gallery {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 0px 1fr 0px 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0px;
        grid-auto-rows: 40vh;
    }


    .gallery--img:hover {
        -webkit-filter: saturate(0.2);
        filter: saturate(0.2);
    }

    .gallery--img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        cursor: pointer;
        /*-webkit-animation: fadeInBlack 600ms ease-in 0s 1 forwards;
            animation: fadeInBlack 600ms ease-in 0s 1 forwards;*/
    }
}

/*--------------------------------------bio section-----------------------------------*/

.bioMate {
    display: block;
    /*background-color: mediumaquamarine;*/
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 3%;
       -moz-column-gap: 3%;
            column-gap: 3%;
    -webkit-animation: fadeIn 150ms ease-in 0s 1 forwards;
            animation: fadeIn 150ms ease-in 0s 1 forwards;
}

.bioMate>section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9vw;
}

.imgBio {
    max-width: 90%;
}

#bio-image {
    /*background-color: mediumblue;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*--------------------------------------contact section-----------------------------------*/

.cont-form-outer {
    /*overflow: hidden;*/
    /*background-color: mediumorchid;*/
    position: relative;
    height: 79vh;

}

.cont-form-background {
    background-image: url(/images/gallery/contact-bckgr.jpg);
    background-size: cover;
    background-position: bottom;
    z-index: 100;
    height: 79vh;
}

.cont-form-contents {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'futura book';
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 50%;
    margin-top: -260px;
    z-index: 200;
    left: 50%;
    margin-left: -250px;
    height: 520px;

    -webkit-animation: fadeIn 700ms ease-in 0s 1 forwards;

            animation: fadeIn 700ms ease-in 0s 1 forwards;

    /*background-color: blue;*/
}

.cont-form-contents>hr {
    width: 420px;
    margin: 2vh;
    border-top: 2 px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: goldenrod;
    border-style: dashed;

}

#contact-forms {
    text-align: center;
    color: white;
    font-family: 'futura book';
    padding-top: 23px;
}

#contact-forms>h3 {
    padding: 5px;
}

.spaceOut {
    padding: 5px;
    margin: 5px;
}

.stretch-1 {
    width: 190px;
}

.stretch-2 {
    width: 410px;
}

.stretch-3 {
    height: 100px;
    line-height: normal;
}