/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;

}

body {
    font-size: 100%;
    overflow: auto;
    height: 100%;
    background-color: #fdfdfd;
}


@font-face {
    font-family: "futura book";
    src: url(fonts/Futura\ Std\ Book.ttf);
}



/*-----------------------------------------------*/
.const-1 {
    margin: 10px 10px 10px 10px;
    /*background-color: salmon;*/

}

.fix-frame {
    overflow: auto;
}


::-webkit-scrollbar {
    display: none;
}

.a-nodec {
    text-decoration: none;
    color: rgb(197, 3, 3);
}

.a-nodec:visited {
    color: rgb(197, 3, 3);
}

/*--------------------------------------Top Bar Container-----------------------------------*/

.top-sect {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    font-size: 100%;
    height: 100px;
    position: relative;
    box-shadow: 0px 0px 2px rgb(228, 228, 228);
    transition: 0.2s ease-in;
    z-index: 200;
    color: #303030;
    /* background-color: #fdfdfd; */
    background: transparent;
}

/*--------------------------------------Title -----------------------------------*/

.pg-title {
    /*background-color: red;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    height: 100%;
    top: 0;
    /*animation: fadeIn .2s ease-in 0s 1 forwards;*/
}

.txt-slct {
    /*background-color: yellow;*/
    font-family: 'futura book';
    font-weight: 800;
    font-size: 2rem;
    margin-left: 5%;
    text-align: start;
    transition: 0.2s ease-in;
}

/*--------------------------------Ham Nav section----------------------*/
#main-menu {
    display: none;
}

#ham-menu-wrapper {
    cursor: pointer;
    height: 60%;
    width: 80px;
    /*background-color: violet;*/
    justify-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    animation: fadeIn .5s ease-in 0s 1 forwards;
}

.ham-menu {
    height: 7px;
    width: 50%;
    background-color: #F3B239;
    display: block;
}


/*--------slide in menu--------*/
#slide-in-menu {
    position: fixed;
    width: 80vw;
    height: 100vh;
    z-index: 200;
}

.menu-static {
    margin-left: 100%;
    display: none;
}

.menu-slide-in {
    /*Activated from JS file*/
    background-color: #F3B239;
    -webkit-animation: slide-in-menu 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0s 1 forwards;
    animation: slide-in-menu 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0s 1 forwards;
}

.menu-slide-out {
    background-color: #F3B239;
    -webkit-animation: slide-out-menu 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0s 1 forwards;
    animation: slide-out-menu 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) 0s 1 forwards;
}

#menu-close-button {
    width: 48px;
    /*background-color: white;*/
    height: 60px;
    position: absolute;
    z-index: 302;
    top: 3%;
    left: 58vw;
    display: block;
    animation: fadeIn 1s cubic-bezier(0.250, 0.100, 0.250, 1.000) 0s 1 forwards;
}

.menu-close-btn {
    height: 5px;
    width: 48px;
    background-color: white;
    position: absolute;
    top: 30px;
    cursor: pointer;
    z-index: 350;
}

.menu-close-btn-bck {
    height: 61px;
    width: 60px;
    background-color: transparent;
    position: absolute;
    left: 20px;
    cursor: pointer;
    z-index: 150;
}

.x1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.x2 {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

#mobile-menu {
    display: flex;
    position: relative;
    /*background-color: red;*/
    flex-direction: column;
    height: 90%;
    top: 7%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 200;
}

#mobile-menu>li {
    /*background-color: khaki; */
    list-style: none;
    width: 50%;
    text-align: center;
    height: 50px;
    display: flex;
    color: white;
}

#mobile-menu>li>a:visited {
    color: white;
}

#mobile-menu>li>a {
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    font-family: 'futura book';
    /*background-color: lightblue;*/
    height: 100%;
    width: 100%;
    display: block;
    line-height: 1.5;
}

/*----------------------------*/
#index-vid--container {
    display: none;
}

#mobile-background {
    z-index: 100;
    width: 100vw;
    position: absolute;
    top: 0;
    height: 100vh;
    background: url(/images/gallery/11.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeIn .9s ease-in 0s 1 forwards;

}

/*------------------gallery--------------*/
#galleryBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-animation: fadeIn .9s ease-in 0s 1 forwards;
    animation: fadeIn .9s ease-in 0s 1 forwards;
}

#galleryBox>img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: transparent;
    box-shadow: 0px 1px 5px rgb(233, 233, 233);

}

#galleryBox>img:hover {
    transform: scale(1.01);
    transition: transform 0.1s ease;
}

.expand-img {
    display: none;
    height: 100vh;
    min-width: 100vw;
    position: fixed;
    background-color: #fdfdfd;
    opacity: 1;
    z-index: 400;
    top: 0;
    justify-content: center;
    align-items: center;
}

#expandable {
    max-width: 95%;
    max-height: 90%;
    vertical-align: middle;
}

.click-btns {
    position: absolute;
    font-size: 120px;
    color: black;
    background-color: transparent;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    border: none;
    opacity: 0.2;
}

#previouso {
    text-align: start;
    /*border-top: 50px solid rgb(17, 17, 17);
    border-right: 100px solid red;
    border-bottom: 50px solid rgb(17, 17, 17);
    border-left: 0px;*/
    left: 0;
    cursor: pointer;
}

#nextso {
    background-color: transparent;
    height: 100%;
    width: 50%;
    border: none;
    text-align: right;
    vertical-align: middle;
    /*border-top: 50px solid rgb(17, 17, 17);
    border-right: 100px solid red;
    border-bottom: 50px solid rgb(17, 17, 17);
    border-left: 0px;*/
    right: 0;
    cursor: pointer;

}

button:focus {
    outline: none;
}

.close-image {
    display: flex;
    top: 2%;
    right: 5%;
    color: rgb(46, 46, 46);
    position: absolute;
    z-index: 401;
    cursor: pointer;
    height: 50px;
    animation: fadeIn .9s ease-in 0s 1 forwards;
    /*background-color: teal;*/
    justify-content: flex-end;
}

.close-image>span {
    /*background-color: tomato;*/
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;

}


/*---------------bio section--------------*/

.bio-text {
    /*background-color: mediumaquamarine;*/
    animation: fadeIn .9s ease-in 0s 1 forwards;
    max-width: 1980px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;

}

.bio-text>section>p {
    font-size: 1rem;
    line-height: 1.7;
    /*background-color: lightcoral;*/
    text-align: left;
}

.bio-img {
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
}

/*----------------contact section------------------------*/

.cont-contents {
    display: flex;
    flex-direction: column;
    /*margin-top: 10px;*/
    margin: auto;
    font-family: 'futura book';
    /*background-color: khaki;*/
    position: relative;
    color: #303030;
    max-width: 900px;
    justify-content: center;
    overflow: scroll;
    height: 100%;
    animation: fadeIn .9s ease-in 0s 1 forwards;
    z-index: 100;
}

.cont-contents>hr {
    /*border: 2px dashed white;*/
    width: 100%;
}

.cont-texts {
    text-align: center;
    
}

#cont-1 {
    text-align: center;
    padding:25px 0px;

}

#cont-1>p {
    font-weight: lighter;
    font-size: 25px;
    word-wrap: break-word;
    /*background-color: tomato;*/
}

#cont-2 {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow:inset 0px 0px 2px #ca922a;*/
}

/*#cont-2>a:nth-child(1) {
    animation: fadeIn .8s ease-in 0s 1 forwards;
}

#cont-2>a:nth-child(2) {
    animation: fadeIn 1s ease-in 0s 1 forwards;
}

#cont-2>a:nth-child(3) {
    animation: fadeIn 1.2s ease-in 0s 1 forwards;
}

#cont-2>a:nth-child(4) {
    animation: fadeIn 1.4s ease-in 0s 1 forwards;
}*/

.social-icons {
    width: 42px;
    height: 42px;
}

/*.cont-contents>hr {
    position: relative;
    width: 85%;
    align-self: center;
    border: 1px dashed #F3B239;
}*/

.cont-form-text>h2 {
    margin: 10px;
    font-weight: lighter;
    color: #303030;
    font-size: 20px;
}

#contact-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'futura book';
    padding: 10px 0 10px 0;
}

#contact-forms>button {
    width: 150px;
    height: 35px;
    background-color: #F3B239;
    border: none;
    color: white;
    font-size: 18px;
    /*animation: fadeIn .5s ease-in 0s 1 forwards;*/
    cursor: pointer;
    border-radius: 1px;
    margin-top: 10px;
}

.space-out {
    padding: 5px;
    margin: 5px;
    height: 30px;
    border-radius: 2px;
    width: 300px;
    border: 1px solid #303030;
}

.space-out:focus {
    outline-width: 0;
    border: 1px solid #F3B239;
}

.stretch-3 {
    height: 150px;
}


/*------Outside the container-------*/

/*------------------------------------------------------------------------------------------*/
@keyframes slideUp {
    from {
        top: 50%;
    }

    to {
        top: 0;
    }

}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}


@-webkit-keyframes slide-in-menu {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 20%;
    }

}


@keyframes slide-in-menu {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 20%;
    }

}

@-webkit-keyframes slide-out-menu {
    0% {
        margin-left: 20%;
    }

    100% {
        margin-left: 100%;
    }
}

@keyframes slide-out-menu {
    0% {
        margin-left: 20%;
    }

    100% {
        margin-left: 100%;
    }
}

@keyframes changeToWhite {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgb(19, 19, 19);

    }

}

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@media screen and (min-width: 320px) {

    /*----Small devices, mobile phones-----*/

    .pg-title {
        margin-left: 5%;
    }

    #ham-menu-wrapper {
        margin-right: 10%;
    }

    .ham-menu {
        width: 70%;
    }
}

#cont-back {
    background-image: url(images/justTip.png);
    /*background-color: #ffc14d;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .92;
    z-index: 20;
    filter: grayscale(100%);
    animation: fadeIn .5s ease-in 0s 1 forwards;
}

/*------------------------------------------------------------------------------------------*/

@media (min-width: 576px) {
    .top-sect {
        height: 160px;
        margin-bottom: 5px;
    }

    .txt-slct {
        font-size: 38px;
    }


    #bio-txt::after {
        content: " & the site";
        font-weight: 800;
    }


    .ham-menu {
        width: 80%;
    }

    #menu-close-button {
        left: 65vw;
        width: 70px;
        height: 65px;
        top: 35px;
    }

    .menu-close-btn {
        width: 75px;
        height: 7px;
    }

    #mobile-menu>li>a {
        font-size: 2em;
    }

    #cont-2 {
        justify-content: space-evenly;

    }

    .space-out {
        width: 400px;

    }

    /*--------------------------------------------------------------------
    
    .close-image {
        left: 85%;
    }*/

    /*-------------------------------------------------------------------*/
    .const-1 {
        margin: 20px 20px;

    }


}

/*------------------------------------------------------------------------------------------*/

@media (min-width: 769px) {

    /*--------------------------------Small devices, tablets---------------------------*/
    .top-sect {

        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

    }



    /*----------------------------------------------------------------*/
    .box-in {
        box-sizing: border-box;
    }

    /*.expand-img {
    height: 100vh;
    min-width: 100vw;
    position: fixed;
    background-color: rgb(17, 17, 17);
    opacity: 1;
    z-index: 400;
    top:0;
    justify-content: center;
    align-items: center;
}

#expandable {
    max-width:80%;
    vertical-align: middle;
    
}

.close-image{
    font-size: 100px;
    top: 30px;
    left: 90%;
    color: white;
    position: absolute;
    z-index: 401;
    cursor: pointer;
    opacity: 1;
}*/
    #galleryBox {
        column-count: 3;
        display: block;
    }

    .gallery img {
        width: 100%;
        height: auto;
        cursor: pointer;
    }

    /*---------------------------------------------------------------*/

    .bio-img {
        float: right;
        max-width: 50%;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    /*---------------------------------------------------------------

    .close-image {
        width: 80px;
        font-size: 100px;
        left: 90vw;
        background-color: transparent;

        display: flex;
        justify-content: center;
    }

    .close-image>span {
        opacity: 0.9;
    }*/

    .const-1 {
        margin: 30px 30px 20px 30px;

    }

}

/*------------------------------------------------------------------------------------------*/

@media (min-width: 992px) {

    /*----medium monitors------*/
    .fix-frame {
        height: 78vh;
    }

    /*----------------title--------------------*/
    #index-big-pics {
        display: none;
    }

    #index-vid {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        top: 0;
    }

    #mobile-background {
        display: none;
    }

    #index-vid--container {
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: -1;
        background-color: rgb(24, 24, 24);
    }

    #index-vid--container>video {
        object-fit: contain;
        object-position: center;
    }

    #index-vid--container>span {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 0;
        cursor: pointer;
        animation: changeToWhite .9s 7.5s ease-in forwards;
    }

    #index-main-menu {
        /*background-color: red;*/
        height: 90%;
        width: 100%;
        z-index: 200;
        margin: 0 auto;
        display: flex;
        align-items: center;
        animation: fadeIn 1s 8s ease-in forwards;
        opacity: 0;
    }

    #index-nav-list {
        display: flex;
        justify-content: space-evenly;
        /*background-color: teal;*/
        width: 100%;
        height: 90%;
        align-items: center;

    }

    #index-nav-list>li {
        list-style: none;
        text-align: center;
        display: flex;
        color: white;
        /*background-color: thistle;*/
    }

    #index-nav-list>li>a {
        color: white;
        font-weight: 700;
        font-size: 1.4rem;
        text-decoration: none;
        font-family: 'futura book';
        /*background-color: lightblue;*/
        height: 100%;
        width: 100%;
        display: block;
        line-height: 1.5;
    }

    .top-sect {
        font-size: 100%;
        height: 20vh;
        position: fixed;
        width: 100%;
        z-index: 1000;
        transition: 0.15s ease-in;
    }

    .pg-title {
        margin-left: 50px;
        color: #303030;
    }

    .txt-slct {
        /*background-color: yellow;*/
        font-size: 2.2rem;
    }

    /*-----------------nav section------------------*/
    .top-sect>nav {
        margin-right: 50px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        /*background-color: yellow;*/
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .top-sect>nav>ul {
        width: 85%;
        /*background-color:rgb(177, 227, 246);*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        top: 5px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-right: 5%;
        transition: 0.1s ease-in;

    }

    nav>ul>li {
        list-style: none;
    }

    .top-sect>nav>ul>li>a {
        color: #303030;
        font-weight: 600;
        font-size: 1.1rem;
        text-decoration: none;
        font-family: 'futura book';
    }

    nav>ul>li:hover {
        transform: scale(1.2);
        transition: transform .2s ease-in-out;
    }

    .top-sect>nav>ul>li>a:visited {
        color: #303030;
    }

    .nav-dec {
        color: transparent !important;
        border-bottom: 2px solid #303030;
        border-spacing: 4px;
    }

    #ham-menu-wrapper {
        display: none;
    }

    #slide-in-menu {
        display: none !important;
    }

    /*-------------gallery section---------------*/





    /*---------------*/

    .bio-img {
        padding-left: 50px;

    }

    .bio-text {
        margin-bottom: 60px;
    }


    /*----------------------------contact page--------------------*/

    .cont-contents {
        padding: 20px;
        align-content: space-between;
        z-index: 150;
    }

    #cont-1 {
        color: #303030;
    }


    .cont-form-text>h2 {
        margin: 10px;
        font-weight: lighter;
        color: #303030;
        font-size: 20px;
    }

    .space-out {
        padding: 5px;
        margin: 5px;
        height: 30px;
    }

    .stretch-3 {
        height: 100px;
        line-height: normal;
    }

    #contact-forms>button {
        width: 400px;
    }

    /*-----------------------------------------*/

    /*.over-laid {
        background-color: rgb(59, 59, 59);
        position: absolute;
        top: 0;
        width: 100%;
        height: 76vh;
        opacity: .7;
        z-index: 50;
    }*/

    /*--------------------------------------*/

    .const-1 {
        position: relative;
        top: 22vh;
        margin: 0px 50px 0px 50px;
    }


    .gall-marg {
        margin-bottom: 30px;
    }


}

/*---------------------------------------------------------*/

@media (min-width: 1020px) {

    /*----large monitors-----*/

    /*-------------gallery section---------------*/
    #galleryBox {
        column-count: 4;
    }
}

/*------------------------------------------------------------------------------------------*/

@media (min-width:1400px) {

    .txt-slct::before {
        content: "Suman Lama: ";
        font-weight: 100;
    }

    .txt-slct {
        margin-left: 0%;
    }

    .top-sect>nav>ul {
        width: 75%;
        margin-right: 0%;

    }


}